.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 728px;
}

.post-card {
  margin: 30px 40px;
  min-width: 30rem;
}

.hashtag {
  margin-right: 3px;
}

.reactions {
  margin-top: 15px;
}

.create-post-form {
  margin: 35px 60px;
  min-width: 30rem;
}

.welcome {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 32px;
  color: rgb(12, 119, 227);
}

.footer {
  margin-top: 408px;
}

.loadingclass {
  margin-top: 25px;
  color: rgb(12, 119, 227);
}